.task-item-container{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    max-width: 560px;
}

.task-item-heading{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.task-item-description{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    color: gray;
    font-weight: 600;
}

.delete-button{
    background-color: rgb(53, 53, 227);
    border-radius: 10px;
    margin:10px;
    padding: 10px;
    color: white;
    border: 0px solid;
    align-self: flex-end;
    cursor: pointer;
    outline: none;
}

